<h1>Edit Project Info</h1>

<%= form_for(@project) do |p| %>

  <p>
    <%= p.label :name %>
    <%= p.text_field :name %>
  </p>
  
  <p>
    <%= p.label :link %>
    <%= p.text_field :link %>
  </p>
  
  <p>
    <%= p.label :description %>
    <%= p.text_area :description %>
  </p>
  
  <%= p.submit %>
<% end %>